

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;   
}

.carousel-item img {
  height: 50%;         
  object-fit: cover;     
  width: 50%;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin: auto;
  
}
.carousel-caption h5,
.carousel-caption p {
  color: #fff;
}
@media (max-width: 768px) {
  .carousel-caption {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .carousel-caption h5 {
    font-size: 1rem;
  }

  .carousel-caption p {
    font-size: 0.8rem;
  }
}
